<div class="inbox-body">
  <mat-card class="messages-inbox">
    <mat-card-header>
      <mat-card-title>Inbox</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let conversation of conversationArray" class="chat-headline" (click)="onSelect(conversation)">
        <img mat-card-sm-image src="{{conversation.groupImage}}">
        <div class="chat-headline-text">
          <h4 class="nomargin">{{conversation.groupName}}</h4>
          <p class="nomargin">{{conversation.conversation[conversation.conversation.length-1]?.content}}</p>
        </div>
      </div>
    </mat-card-content>
    <button mat-raised-button (click)="signOut()">Sign Off</button>
  </mat-card>
</div>
