<h3 style="display:flex;justify-content:center;">Just Another Chat Application</h3>
<div style="display:flex;justify-content:center;">
But a good chat application.
</div>
<h3 style="display:flex;justify-content:center;">About</h3>
<div style="display:flex;justify-content:center;">
This chatroom application was made as a final project for a client side programming class at SCTD (Sullivan College of Technology and Design).  There was much to do considering the class consisted of the instructor, Babak, and one student, Jessica.  When asked Jessica comments that when the chatroom project came up and even when she talked about it with her friends she thought back to the chatrooms from the early 2000s and not so much like the applications you see today like Facebook Messenger.
</div>