<mat-toolbar>
  <mat-toolbar-row>
    Jessica's Chat App
    <span class="space"></span>
    <a routerLink="/login" style="margin-right:1em;">Login</a>
    <a routerLink="/home" style="margin-right:1em;">Home</a>
    <a routerLink="/aboutus" style="margin-right:1em;">About Us</a>
    <a routerLink="/privacy">Privacy Policy</a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<mat-toolbar style="width:100%;display:flex;position:absolute;bottom:0;">
  <mat-toolbar-row>
    This was made in 2018!
  </mat-toolbar-row>
</mat-toolbar>   