<div>
<div style="display:flex;text-align:justify;">
Privacy Notice<br>

  Effective Date: May 12, 2018<br><br><br>

  This privacy notice discloses the privacy for Client Side Programming and their class; DWD257.  This privacy notice applies solely to information collected by this class, except where stated otherwise.  It will notify you of the following:
  </div>
  
  <ul style="text-align:justify;">
	<li>What information we collect;</li>
	<li>With whom it is shared;</li>
	<li>How it can be corrected;</li>
	<li>How it is secured;</li>
	<li>How policy changes will be communicated; and</li>
	<li>How to address concerns over misuse of personal data.</li>
  </ul>
  
 

  <h3 style="text-align:center;">Information Collection, Use, and Sharing</h3>

  <div style="display:flex;text-align:justify;">
  We are the sole owners of the information collected on this site.  We only have access to/collect information that you voluntarily give us via email or other direct contact from you.  We will not see or rent this information to anyone.

  We will use your information to respond to you, regarding the reson you contacted us.  We will not share your information with any third party outside our organization, other than as necessary to fulfill your request, e.g., to ship an order.

  Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this policy.
  </div>


  <h3 style="text-align:center;">Your Access To And Control Over Information</h3>
  <div style="display:flex;text-align:justify;">
  You may opt out of any future contacts from us at any time.  You can do the following at any time by contacting us via the email address or phone number provided on our website:
</div>

  <ul style="text-align:justify;">
	<li>See what data we have about you, if any.</li>
	<li>Change/correct any data we have about you.</li>
	<li>Have us delete any data we have about you.</li>
	<li>Express any concern you have about our use of your data.</li>
</ul>



<h3 style="text-align:center;">Registration</h3>
<div style="display:flex;text-align:justify;">
In order to use this website, a user must first complete the registration form.  During registration a user is required to give certain information (such as name and email address).  This information is used to contact you about the products/services on our site in which you have expressed interest.  At your option, you may also provide demographic information (such as gender or age) about yourself, but it is not required.
</div>


<h3 style="text-align:center;">Sharing</h3>
<div style="display:flex;text-align:justify;">
We share aggregated demographic information with our partners and advertisers.  This is not linked to any personal information that can indentify any individual person.

And/or:

We partner with another party to provide specific services.  When the user signs up for these services, we will share names, or other contact information that is not necessary for the third party to provide these services.  These parties are not allowed to use personally identifiable information except for the purpose of providing these services.
</div>


<h3 style="text-align:center;">Security</h3>
<div style="display:flex;text-align:justify;">
We take precautions to protect your information.  When you submit sensitive information via the website, your information is protected both online and offline.
</div>


<h3 style="text-align:center;">Cookies</h3>
<div style="display:flex;text-align:justify;">
We use "cookies" on this site.  A cookie is a piece of data stored of a site visitor's hard drive to help us improve your access to our site and identify repeat visitors to our site.  For instance, when we use a cookie to indentify you, you would not have to log in a password more than once, thereby saving time while on our site.  Cookies can also enable us to track and target the interests of our users to enhance their experience on our site.  Usage of a cookie is in no way linked to any personally indentifiable information on our site.

Some of our business partners may use cookies on our site (e.g., advertisers).  However, we have no access to or control over these cookies.
</div>


<h3 style="text-align:center;">Links</h3>
<div style="display:flex;text-align:justify;">
This web site contains links to other sites.  Please be aware that we are not responsible for the content or privacy practices of such other sites.  We encourage our users to be aware when they leave our site and to read the privacy statements of any site that collects personally indentifiable information.
</div>


<h3 style="text-align:center;">Notification of Changes</h3>
<div style="display:flex;text-align:justify;">
Whenever material changes are made to the privacy notice specify how you will notify consumers.
</div>


<h3 style="text-align:center;">Complaints</h3>
<div style="display:flex;text-align:justify;">
If you feel that we are not abiding by this privacy policy, you should contact us immediately via telephone at ###-###-#### or via email at JCRAW4083@my.sctd.edu
</div>
</div>