<mat-card class="signup-box">
  <mat-card-header>
    <mat-card-title>Sign Up</mat-card-title>
  </mat-card-header>

  <mat-card-content>
      <form class="signup-form">
          <table class="login-full-width" cellspacing="0">
            <tr>
              <td>
                  <mat-form-field class="signup-full-width" apearance="standard">
                      <input matInput placeholder="Username" [(ngModel)]="username" type="text" required />
                    </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                  <mat-form-field class="signup-full-width" apearance="standard">
                      <input matInput placeholder="Password" [(ngModel)]="password" type="password" required />
                    </mat-form-field>
              </td>
            </tr>
           </table>
        </form>
        <mat-card-actions>
          <button mat-raised-button (click)="signup()" color="primary" style="display:flex;margin:0em 5em auto;">Sign Up</button>
        </mat-card-actions>
  </mat-card-content>
</mat-card>